    <div class="container">

    <div class="serch-fld">
          <label class="margin-top">Service Alert </label>
           <span class="align-right">
              <input class="form-control" type="search">
                <input value="" class="search-submit" type="submit" />
            </span>
           
        </div>  
        <div class="table-responsive">
          <table class="table-striped table-bordered table-condensed" width="100%">
              <thead>
                    <tr>
                        <th><h4>DATE/TIME</h4></th>
                        <th><h4>TRUCK #</h4></th>
                        <th><h4>DRIVER NAME</h4></th>
                        <th><h4>CONTACT #</h4></th>
                        <th><h4>SERVICE CENTER</h4></th>
                        <th><h4>CITY/STATE</h4></th>
                        <th> <h4>REVIEWS</h4></th>
                        <th><h4>STATUS</h4></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <% @service_alerts.each do |service_alert| %>
                      <tr>
                        <% @drivers = User.where('("Role" = ? AND id = ? )', "AppUser",service_alert.user_id) %>
                            <% if(@drivers.length != 0) %>
                            <td><%= service_alert.updated_at.strftime("%d/%m/%y %I:%M %p") %></td>
                              <% @drivers.each do |driver| %>
                               <%#=debug service_alert %>
                                <td><%= driver.TruckNumber %></td>
                                <td><a href="/alert_details?id=<%= service_alert.id %>"><%= driver.FirstName%>&nbsp;&nbsp;<%= driver.LastName%></a></td>
                                <td><%= driver.Contact %></td>
                              <% end %>
                          <% @centers = Admin::ServiceCenter.where(:id => service_alert.service_center_id)%>
                            <% if(@centers.length !=0 ) %>
                              <%#=debug @centers  %>
                              <% @centers.each do |center| %>
                                
                                <td><%= center.Name %></td>
                                <td><%= center.City %>/<%= center.State %></td>
                               <%

                               @rate_one = ServiceCenterReview.where(:ratings => 1,:service_center_id => service_alert.service_center_id)
                                @rate_two = ServiceCenterReview.where(:ratings => 2,:service_center_id => service_alert.service_center_id)
                                @rate_three = ServiceCenterReview.where(:ratings => 3,:service_center_id => service_alert.service_center_id)
                                @rate_four = ServiceCenterReview.where(:ratings => 4,:service_center_id => service_alert.service_center_id)
                                @rate_five = ServiceCenterReview.where(:ratings => 5,:service_center_id => service_alert.service_center_id)
                                @total_count = ServiceCenterReview.where(:service_center_id => service_alert.service_center_id)
                                  @one_star = @rate_one.length
                                  @two_star = @rate_two.length
                                  @three_star = @rate_three.length
                                  @four_star = @rate_four.length
                                  @five_star = @rate_five.length
                                  @total_star = @total_count.length
                                  if(@total_star == 0)
                                    @ratings = 0
                                  else
                                    @ratings = (5*@five_star + 4*@four_star + 3*@three_star + 2*@two_star + 1*@one_star) / @total_star
                                  
                                end

                               %>
                                <td><%= @ratings %></td>       
                                <td><%= service_alert.status %></td>
                              <% end %>
                            <% else %>
                                <td></td>
                                <td></td>
                            <% end %>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
            </table>
     <% if @service_alerts.length == 0 %>   
      <h3 style="text-align:center;color:#fff">Currently you have no service alerts</h3>
     <% end %>

        </div>

      <!-- Main component for a primary marketing message or call to action -->
      

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%=javascript_include_tag "bootstrap.min.js"%>
  </body>
</html>
