<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--div class="form-group">
    <!--%= f.label :FromUserId %><br-->
    <%= f.hidden_field :FromUserId %>
  <!--/div-->
  <div class="form-group">
   To:
    <%= f.number_field :ToUserId, :class => "message-input" %>
  </div>
 
    <!--%= f.label :MessageContent %><br-->
    <%= f.text_area :MessageContent %>
 
  <div class="form-group align-right">
    <%= f.submit :Send, :class => "send" %>
  </div>
<% end %>
