<%= javascript_include_tag "jquery.validate.min.js" %>
 <script type="text/javascript">
  jQuery(document).ready(function() {

    $(".new_message").validate({
      errorElement: "label",
    rules: {
       "message[ToUserId]": {required:true},
       "message[MessageContent]": {required:true}
      }
  	});
  }); 
 function getMessages(id){
 	var UserId = id;
 		if (UserId != '' && UserId != undefined){
 			/*$(".para-repeat").css({
			     "max-height": "50px"
			 });*/
 			$.ajax({
 				url: "/get_messages",
 				type: "post",
 				dataType: "json",
 				data: {user_id: UserId},
 				success: function(response){
 					if(response.success == true && response.messages.length > 1){
 						$("#user_"+UserId).html("");
 						var Length = response.messages.length;
 						//alert(Length);
 						$.each([response.messages], function(index,value){
 							for(var i=0; i < Length;i++){
 								var NewMessage = '<div class="para-repeat inner"><h4 class="h4_"'+value[i]['user_id']+'>'+value[i]['date']+'</h4><h4 class="h4_"'+value[i]['user_id']+'>'+value[i]['truck']+'</h4><h4 class="h4_"'+value[i]['user_id']+'>'+value[i]['name']+'</h4><p class="h4_"'+value[i]['user_id']+'>'+value[i]['content']+'</p><a href="#new" class="mail-icon"></a></div>';
 								$("#user_"+UserId).append(NewMessage).show('slow');
 							}
 						});
 						//$("#user_"+UserId).slideDown("slow");
 					}else{
 						//$("#One").show();
 						$("#One").css("display","block").delay(2000).slideUp("slow");
 					}
 				},error: function(xhr,txt){
 					console.log("Something went wrong ",xhr.status);
 				}
 			})
 		}
 	//alert(id);
 }
</script>
		<div class="container">

			<div class="serch-fld">
					<label class="margin-top">Listing messages</label>
			</div> 
			<ol class="breadcrumb">
			<li class="active"> >> <a href="/"> Home </a> >> <a href="/messages"> Messages </a></li>
			</ol>
	<div class="col-sm-4 white-bg message-center" id="new">
		<h4>New message</h4>

 			<div class="form-group">
					<%= form_for(@message) do |f| %>
			  <% if @message.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

			      <ul>
			      <% @message.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  <% if user_signed_in? %>
 				<%= f.hidden_field :FromUserId, :value => current_user.id %>
				  	<% @selected_center = UsersServiceCenter.where(:user_id => current_user.id) %>
		         			<% @selected_center.each do |selected| %>   
		            		<% @selected_id =  selected.service_center_id %>
	         		<% end %>
			    	<%= f.hidden_field :service_center_id, :value => @selected_id %>
				<% end %>
				    <%= f.hidden_field :sent_by, :value => "WebUser" %>
			    <%#= f.hidden_field 'ToUserId' %>
			  <!--/div-->
			  <div class="form-group">
			   To:
			  <!--%= text_field_tag 'tags' %-->

			<%= select("message", "ToUserId", User.where(:Role => "AppUser").collect {|u| [ u.FirstName, u.id ] }, { include_blank: "Select User" }, :class => "slct" ) %>


			  </div>

			    <!--%= f.label :MessageContent %><br-->
			    <%= f.text_area :MessageContent %>

			 	<%#= link_to 'Back', messages_path , :class=>"back_button" %>
			  <div class="form-group align-right">
				  <input type="reset" class="clear" value="Clear">
			    <%= f.submit :Send, :class => "send" %>

			  </div>
			<% end %>
			</div>

	</div>
	
	<div class="col-sm-8">
		<div class="white-bg wdth-sd8">
		<div class="col-sm-4"> </div>
		<div class="col-sm-8 align-right">
			<div class="top-search padding-search">
			<label>SEARCH</label>
			<input class="input-dtl-srch" type="text">
			<input class="search-submit d-search" type="submit" value="">
			</div>
		</div>
		<div class="para-content">
		<div id="One" style="display:none;color:red;">User has only one message</div>
			<% @new_users.each do |message| %>
					<div class="para-repeat outer" id="user_<%= message[:user_id]%>">
						<h4><%= message[:date] %></h4>
						<h4><%= message[:truck] %></h4>
						<h4><%= message[:name] %></h4>
						<p><%= message[:content] %></p>
						<a href="#new" class="mail-icon"></a>
						<!-- <div class="expand">
						<%#= link_to 'Show', message %>
						<%#= link_to 'Edit', edit_message_path(message) %>
						<%#= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
						
						</div> -->
					</div>
					<a id="<%= message[:user_id]%>" href="javascript:void(0);" onclick="getMessages(this.id)" class="expand">Expand All</a>
			<% end %>
		</div>
		<br>
		
		</div>
		</div>
	</div>
