<%= javascript_include_tag "jquery.validate.min.js" %>
<%= javascript_include_tag "jPages.js" %>
 <script type="text/javascript">
  jQuery(document).ready(function() {
  	$(function(){
      $("div.holder").jPages({
        containerID : "messages",
        previous : "",
        next : "",
        perPage : 10,
        delay : 20
      });
    });
    $(".new_message").validate({
      errorElement: "label",
    rules: {
       "message[ToUserId]": {required:true},
       "message[MessageContent]": {required:true}
      }
  	});
  }); 
 function getMessages(id){
 	var UserId = id;
 		if (UserId != '' && UserId != undefined){
 			$("#loader").show();
 			$(".outer li:first-child").css("display","block");
 			$.ajax({
 				url: "/get_messages",
 				type: "post",
 				dataType: "json",
 				data: {user_id: UserId},
 				success: function(response){
 					if(response.success == true && response.messages.length > 1){
 						//$("#user_"+UserId).html("");
 						$(".inner").slideUp("slow");
 						//$(".outer").show();
 						//$("."+UserId).hide();
 						var Length = response.messages.length;
 						$.each([response.messages], function(index,value){
 							for(var i=0; i < Length;i++){
 								var NewMessage = '<li class="para-repeat inner"><h4>'+value[i]['date']+'</h4><h4>'+value[i]['truck']+'</h4><h4>'+value[i]['name']+'</h4><p>'+value[i]['content']+'</p><a id='+value[i]['user_id']+' href="#new" onclick="showSelected(this.id)" class="mail-icon"></a></li>';
 								$("#user_"+UserId).append(NewMessage)
 								$('body,html').animate({'scrollTop':$("#user_"+UserId).offset().top});
 								
 							}
 							$("#user_"+UserId+" li:first-child").css("display","none");
 							//$("user_"+UserId).find('.inner:first').hide();
 						});
 						//$( "user_"+UserId+":first-of-type" ).hide();
 						//$("user_"+UserId).hide().siblings("div");
 					}else{
 						$("#One").css("display","block").delay(2000).slideUp("slow");
 						$("html, body").animate({ scrollTop: 0 }, "1");              
        				$('html, body').stop(true, true);

 					}
 				$("#loader").hide();
 				},error: function(xhr,txt){
 					console.log("Something went wrong ",xhr.status);
 				}
 			});
 		}
 	//alert(id);
 }

 function showSelected(id){
 	var id = id;
 	if(id !='' && id != undefined){
 		$("#message_ToUserId option:selected").removeAttr('selected');
 		$("#message_ToUserId option[value="+id+"]").attr("selected", "selected");
 	}
 }
</script>
<script type="text/javascript">
     $(document).ready(function(){
      //$('#table').tablesorter();
    $('input[name="search"]').keyup(function(){
      var searchterm = $(this).val();
      if(searchterm.length > 3) {
       var match = $('ul.outer:contains("' + searchterm +'")');
       var nomatch = $('ul.outer:not(:contains("' + searchterm + '"))');
       match.addClass('selected');
       nomatch.css("display", "none");
       //$(".expand").css("display","none");
      } else {
       $("ul.outer").css("display", "");
       $("ul.outer").removeClass("selected");
      }
    });
		   /* $('#office-type-list').change(function(){
		    var sel = $(this).val();
		    $('div[name="Offices"] div').hide();
		    if(sel != "00"){
		       $('div[data-custom-type="'+sel+'"]').show();
		    }
		    else {
		        $('div[name="Offices"] div').show();
		    }
		});*/
    });
</script>
		<div class="container">

			<div class="serch-fld">
					<label class="margin-top">Listing messages</label>
			</div> 
			<ol class="breadcrumb">
			<li class="active"> >> <a href="/"> Home </a> >> <a href="/messages"> Messages </a></li>
			</ol>
	<div class="col-sm-4 white-bg message-center" id="new">
		<h4>New message</h4>

 			<div class="form-group">
					<%= form_for(@message) do |f| %>
			  <% if @message.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

			      <ul>
			      <% @message.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  <% if user_signed_in? %>
 				<%= f.hidden_field :FromUserId, :value => current_user.id %>
				  	<% @selected_center = UsersServiceCenter.where(:user_id => current_user.id) %>
		         			<% @selected_center.each do |selected| %>   
		            		<% @selected_id =  selected.company_id %>
	         		<% end %>
			    	<%= f.hidden_field :service_center_id, :value => @selected_id %>
				<% end %>
				    <%= f.hidden_field :sent_by, :value => "WebUser" %>
			    <%#= f.hidden_field 'ToUserId' %>
			  <!--/div-->
			  <div class="form-group">
			   To:
			  <!--%= text_field_tag 'tags' %-->
			  <% if user_signed_in? %>
				<% if current_user.Role == "admin" %>
					<%= select("message", "ToUserId", User.where(:Role => "AppUser").collect {|u| [ u.FirstName, u.id ] }, { include_blank: "Select User" }, :class => "slct" ) %>
				<% else %>
					<%= select("message", "ToUserId", User.where(:Role => "AppUser").where(:company_id => @selected_id).collect {|u| [ u.FirstName, u.id ] }, { include_blank: "Select User" }, :class => "slct" ) %>
			  	<% end %>
			  <% end %>

			  </div>

			    <!--%= f.label :MessageContent %><br-->
			    <%= f.text_area :MessageContent %>

			 	<%#= link_to 'Back', messages_path , :class=>"back_button" %>
			  <div class="form-group align-right">
				  <input type="reset" class="clear" value="Clear">
			    <%= f.submit :Send, :class => "send" %>

			  </div>
			<% end %>
			</div>

	</div>
	
	<div class="col-sm-8">
		<div class="white-bg wdth-sd8">
		<div class="col-sm-4"> </div>
		<div class="col-sm-8 align-right">
			<div class="top-search padding-search">
			<label>SEARCH</label>
			<input class="input-dtl-srch" name="search" type="text">
			<input class="search-submit d-search" type="submit" value="">
			</div>
		</div>
		<div class="para-content">
		<div id="One" style="display:none;color:red;">User has only one message</div>
			<ul id="messages">
			<% @new_users.each do |message| %>
					<ul id="user_<%= message[:user_id]%>" class="outer para-repeat">
						<li class="msg">
								<h4><%= message[:date] %></h4>
								<h4><%= message[:truck] %></h4>
								<h4><%= message[:name] %></h4>
								<p><%= message[:content] %></p>
								<a id="<%= message[:user_id]%>" href="#new" onclick="showSelected(this.id)" class="mail-icon"></a>
							
						</li>

					</ul>
							<a  href="#user_<%= message[:user_id]%>" id="<%= message[:user_id]%>" href="javascript:void(0);" onclick="getMessages(this.id)" class="expand">Expand All</a>
			<% end %>
			</ul>
			<div class="holder"></div>
		</div>
		<br>
		
		</div>
		</div>
	</div>
