
		<div class="container">

			<div class="serch-fld">
					<label class="margin-top">Listing messages</label>
			</div> 
			<ol class="breadcrumb">
			<li class="active">>> Main</li>
			</ol>
	<div class="col-sm-4 white-bg message-center">
		<h4>New message</h4>
 <% if(flash[:notice]) %>
 	<%= flash[:notice] %>
 <% end %>
 			<div class="form-group">
					<%= form_for(@message) do |f| %>
			  <% if @message.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

			      <ul>
			      <% @message.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <!--div class="form-group">
			    <!--%= f.label :FromUserId %><br-->
			    <%= f.hidden_field :FromUserId, :value => "1" %>
			    <%= f.hidden_field 'ToUserId' %>
			  <!--/div-->
			  <div class="form-group">
			   To:
			  <!--%= text_field_tag 'tags' %-->

			<%= select("message", "ToUserId", User.where(:Role => "AppUser").collect {|u| [ u.FirstName, u.id ] }, { include_blank: "Select User" }, :class => "slct" ) %>


			  </div>
			 
			    <!--%= f.label :MessageContent %><br-->
			    <%= f.text_area :MessageContent %>
			 	<%#= link_to 'Back', messages_path , :class=>"back_button" %>
			  <div class="form-group align-right">
				  <input type="reset" class="clear" value="Clear">
			    <%= f.submit :Send, :class => "send" %>

			  </div>
			<% end %>
			</div>

	</div>
	
	<div class="col-sm-8">
		<div class="white-bg wdth-sd8">
		<div class="col-sm-4"> </div>
		<div class="col-sm-8 align-right">
			<div class="top-search padding-search">
			<label>SEARCH</label>
			<input class="input-dtl-srch" type="text">
			<input class="search-submit d-search" type="submit" value="">
			</div>
		</div>
		<div class="para-content">


			
		</div>
		<br>
		
		</div>
		</div>
	</div>
