<script type="text/javascript">
$(document).ready(function (){
	var modal_first = "<option>Select Modal</option>";
	 $('#user_eobr_model_id').children().remove().end().append(modal_first);
	 //console.log(modal_first);
});
  function getModal(id) {       // get the the modals on selecting the make
    var make_id = id;
      if(make_id != '' && make_id != null) {
        $.ajax({
          url:"/admin/eobr_makes/getmodal?make_id="+make_id,
          dataType: "json",
          success: function (modal) {
            //console.log(modal);
            var modal_length = modal.length;
            var modal_id = "";
            var modal_name = "";
            var modal_list = "";
            $.each([modal], function(index, value){
              for(var i = 0; i < modal_length; i++) {
                //console.log(value);
                var modal_id = modal[i].id;
                var modal_name = modal[i].Name;
                  modal_list+='<option value="'+modal_id+'">'+modal_name+'</option>';
              }
              var modal_first = "<option>Select Modal</option>"
              $('#user_eobr_model_id').children().remove().end().append(modal_first+modal_list);
            });
          },error: function(xhr, text) {
            console.log("Error http code is "+xhr.status);
          }
        });
      }
  }
</script>
<div class="container">
    <div class="serch-fld">
          <label class="margin-top">Service Alert </label>
           <span class="align-right">
              <input class="form-control" type="search">
                <input value="" class="search-submit" type="submit" />
            </span>
           
        </div>  
<h2>Sign up</h2>
<div >
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div><%= f.label :FirstName %><br />
  		<%= f.text_field :FirstName %>

  	<div><%= f.label :LastName %><br />
  		<%= f.text_field :LastName %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
   
   <div><%= f.label :EobrNumber %><br />
  		<%= f.text_field :EobrNumber %>

  	<div><%= f.label :eobr_make_id %><br />
  		 <%= select("user", "eobr_make_id", Admin::EobrMake.all.collect {|e| [ e.Name, e.id ] }, { include_blank: "Select Make", },:onchange => "getModal(this.value)",  :class => "slct" ) %>

  	<div><%= f.label :eobr_model_id %><br />
  		<%= select("user", "eobr_model_id", Admin::EobrModel.all.collect {|e| [ e.Name, e.id ] }, { include_blank: "Select Model" }, :class => "slct" ) %>

  	<div><%= f.label :TruckNumber %><br />
  		<%= f.text_field :TruckNumber %>

  	<div><%= f.label :truckmake %><br />
  		<%= f.text_field :truckmake %>

  	<div><%= f.label :TruckYear %><br />
  		<%= f.text_field :TruckYear %>
  		
	<div><label>Owner Opertor</label></div>
	<div>
		<select name="user[TruckOwner]">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</select>
	</div>
  	<div><%= f.label :CompanyName %><br />
  		<%= select("user", "CompanyName", Admin::Company.all.collect {|c| [ c.CompanyName, c.id ] }, { include_blank: "Select Company" }, :class => "slct" ) %>

  	<div><label>Driver Assistence</label><br />
  		<%= select("user", "tech_support", Admin::TechSupport.all.collect {|t| [ t.SupportDescription, t.id ] }, { include_blank: "Driver Assistence" }, :class => "slct" ) %>


   	<div><%= f.label :Language %><br />
  		<%= f.text_field :Language %>

  <div><%= f.submit "Sign up",:style => "color:#000;" %>
  		<%= render "devise/shared/links" %>
  </div>
<% end %>


</div>
</div>