  <script type="text/javascript">
 

    $(document).ready(function(){

      $('#table').tablesorter();

    $('input[name="search"]').keyup(function(){

      var searchterm = $(this).val();

      if(searchterm.length > 3) {

       var match = $('tr.data-row:contains("' + searchterm +'")');

       var nomatch = $('tr.data-row:not(:contains("' + searchterm + '"))');

       match.addClass('selected');

       nomatch.css("display", "none");

      } else {

       $("tr.data-row").css("display", "");

       $("tr.data-row").removeClass("selected");

      }

    });

    });

</script>
<div class="container">
    <div class="serch-fld">
          <label class="margin-top">Driver Assitance </label>
           <span class="align-right">
               <input class="form-control" type="text" name="search">
            </span>
           
        </div> 
 <div class="table-responsive">
          <table class="table-striped table-bordered table-condensed" width="100%">
  <thead>
    <tr class="data-header">
      <th width="45%">Date/Time</th>
      <th>Support Description</th>
      <th class="th-align-center">Actions</th>
      <!-- <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @admin_tech_supports.each do |admin_tech_support| %>
      <tr class="data-row">
        <td><%= admin_tech_support.created_at %></td>
        <td><%= admin_tech_support.SupportDescription %></td>
        <td class="th-align-center"><%= link_to '', edit_admin_tech_support_path(admin_tech_support), :class => "edit-icon" %>
        <%= link_to '', admin_tech_support, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-icon" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Tech support', new_admin_tech_support_path %>
</div>