<%= javascript_include_tag "jquery.validate.min.js" %>
 <script type="text/javascript">
  jQuery(document).ready(function() {
    $(".new_admin_eobr_model").validate({
      errorElement: "label",
      rules: {
         "admin_eobr_model[EobrMake_id]": "required",
         "admin_eobr_model[Name]":"required"
      },
      messages: {
         "admin_eobr_model[EobrMake_id]": "Eobr Make is required",
         "admin_eobr_model[Name]":"Model name is required" 
      }
    });
  }); 
</script>
    <div class="container">

    <div class="serch-fld">
          <label class="margin-top">Add/Update Eorb Model </label>
           <span class="align-right">
              <!-- <input class="form-control" type="search">
                <input value="" class="search-submit" type="submit" /> -->
            </span>
           
        </div>  
  <ol class="breadcrumb">
      <li class="active">>> <a href="/admin">Dashboard</a> >></li><li> <a href="/admin/eobr_models"> Eobr Models </a> >> </li><li> Add/Update</li>
    </ol> 
<div class="edit-cmny-dtl">
<div class="edit-cmp-form">		
<%= form_for(@admin_eobr_model) do |f| %>
  <% if @admin_eobr_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_eobr_model.errors.count, "error") %> prohibited this admin_eobr_model from being saved:</h2>

      <ul>
      <% @admin_eobr_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <label class="comp-nm-lbl">Eobr Makes</label>
  <%#= f.label :EobrMake_id, :class => "comp-nm-lbl" %>
  <%= select("admin_eobr_model", "EobrMake_id", Admin::EobrMake.all.collect {|e| [ e.Name, e.id ] }, { include_blank: "Select Make" }, :class => "slct comp-nm-slct" ) %>
</div>
<!--   <div class="field">
    <%= f.label :EobrMake_id, :class => "comp-nm-lbl" %><br>
    <%= f.text_field :EobrMake_id, :class => "comp-nm-txt" %>
  </div> -->
  <div class="field">
    <label class="comp-nm-lbl">Model Name</label>
    <%#= f.label :Name, :class => "comp-nm-lbl" %>
    <%= f.text_field :Name, :class => "comp-nm-txt" %>
  </div>

  <div class="actions">
    <%= f.submit %>

    <%= link_to 'Back', admin_eobr_models_path %>
  </div>
<% end %>
</div>
</div>
</div>