  <script type="text/javascript">
 

    $(document).ready(function(){

      $('#table').tablesorter();

    $('input[name="search"]').keyup(function(){

      var searchterm = $(this).val();

      if(searchterm.length > 3) {

       var match = $('tr.data-row:contains("' + searchterm +'")');

       var nomatch = $('tr.data-row:not(:contains("' + searchterm + '"))');

       match.addClass('selected');

       nomatch.css("display", "none");

      } else {

       $("tr.data-row").css("display", "");

       $("tr.data-row").removeClass("selected");

      }

    });

    });

</script>
    <div class="container">

    <div class="serch-fld">
          <label class="margin-top">Eobr Models </label>
           <span class="align-right">
              
                <input class="form-control" type="text" name="search">
            </span>
           
        </div>  
<div class="table-responsive">
   <table class="table-striped table-bordered table-condensed" width="100%">
  <thead>
    <tr class="data-header">
      <th width="50%">Name</th>
      <th width="30%">Eobrmake</th>
      <th class="th-align-center">Actions</th>
<!--       <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @admin_eobr_models.each do |admin_eobr_model| %>
       <tr class="data-row">
        <td><%= admin_eobr_model.Name %></td>
        <% @make = Admin::EobrMake.where(:id => admin_eobr_model.EobrMake_id) %>
          <% @make.each do |m| %>
            <td><%= m.Name.capitalize %></td>
          <% end %>
        <td class="th-align-center"><%= link_to 'Edit', edit_admin_eobr_model_path(admin_eobr_model), :class => "edit-icon" %>
        <%= link_to 'Destroy', admin_eobr_model, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-icon" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="new-com">
<%= link_to 'New Eobr model', new_admin_eobr_model_path %>
</div>
</div>