<h1>Listing admin_eobr_models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Eobrmake</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_eobr_models.each do |admin_eobr_model| %>
      <tr>
        <td><%= admin_eobr_model.Name %></td>
        <td><%= admin_eobr_model.EobrMake %></td>
        <td><%= link_to 'Show', admin_eobr_model %></td>
        <td><%= link_to 'Edit', edit_admin_eobr_model_path(admin_eobr_model) %></td>
        <td><%= link_to 'Destroy', admin_eobr_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eobr model', new_admin_eobr_model_path %>
