<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_eobr_model.Name %>
</p>

<p>
  <strong>Eobrmake:</strong>
  <%= @admin_eobr_model.EobrMake %>
</p>

<%= link_to 'Edit', edit_admin_eobr_model_path(@admin_eobr_model) %> |
<%= link_to 'Back', admin_eobr_models_path %>
