 <script type="text/javascript">
 

    $(document).ready(function(){

      $('#table').tablesorter();

    $('input[name="search"]').keyup(function(){

      var searchterm = $(this).val();

      if(searchterm.length > 3) {

       var match = $('tr.data-row:contains("' + searchterm +'")');

       var nomatch = $('tr.data-row:not(:contains("' + searchterm + '"))');

       match.addClass('selected');

       nomatch.css("display", "none");

      } else {

       $("tr.data-row").css("display", "");

       $("tr.data-row").removeClass("selected");

      }

    });

    });

</script>
    <div class="container">

    <div class="serch-fld">
          <label class="margin-top">Manage Companies </label>
           <span class="align-right">
               
                <input class="form-control" type="text" name="search">
            </span>
           
        </div>  
<div class="table-responsive">
   <table class="table-striped table-bordered table-condensed" width="100%"> 
  <thead>
    <tr class="data-header">
      <th width="70%">Company Name</th>
      <th class="th-align-center" colspan="3">Action</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_companies.each do |admin_company| %>
      <tr class="data-row">
        <td><%= admin_company.CompanyName %></td>
        <td><%= link_to 'Show', admin_company %></td>
        <td><%= link_to 'Edit', edit_admin_company_path(admin_company) %></td>
        <td><%= link_to 'Destroy', admin_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="new-com">
	<%= link_to 'New Company', new_admin_company_path %>
</div>
<br>

</div>