 <script type="text/javascript">
function GetParameterValues(param) {
var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
for (var i = 0; i < url.length; i++) {
var urlparam = url[i].split('=');
if (urlparam[0] == param) {
return urlparam[1];
}
}
}
</script>
<script>

$(document).ready(function(){
  url_id = GetParameterValues('id');
    if(url_id !='' && url_id != null){ 
        getCenter(url_id);
    }

    $('input[name="search"]').keyup(function(){

      var searchterm = $(this).val();

      if(searchterm.length > 3) {

       var match = $('tr.data-row:contains("' + searchterm +'")');

       var nomatch = $('tr.data-row:not(:contains("' + searchterm + '"))');

       match.addClass('selected');

       nomatch.css("display", "none");

      } else {

       $("tr.data-row").css("display", "");

       $("tr.data-row").removeClass("selected");

      }

    });
});
    function getCenter(id) {
        var center_id = id;
          if(center_id !='' && center_id != null && center_id != undefined ) {
            $("tr").removeClass("service-active-row");
            $("#"+id).addClass("service-active-row");
            $.ajax({
              url:"/getCenter",
              type:"POST",
              data: {id: center_id},
              dataType: 'json',
              success: function(response){
                var Centerlength = response.length; 
                //var len = response['hours'].length;
                    $.each([response], function( index, value ){
                      for(var i=0; i< Centerlength; i++){ 
                        $("h4#name").html(value[i]['name']);
                        $("#street").html(value[i]['street']);
                        $("#city").html(value[i]['city']);
                        $("#state").html(value[i]['state']);
                        $("#StateCode").html(value[i]['statecode']);
                        $("#fax").html(value[i]['fax']);
                        $("#tel").html(value[i]['tel']);
                        $("#url").html(value[i]['url']);
                        $("#email").html(value[i]['email']);
                        $("#ContactPerson").html(value[i]['contact']);
                      //console.log(value[i].hours);
                          $.each([value[i].hours], function( index, new_val ){
                            var len = value[i].hours.length;
                                for(var k=0; k< len; k++ ){
                                    $("#mon_start").html(new_val[k]['mon_start']);
                                    $("#mon_close").html(new_val[k]['mon_close']);
                                    $("#tue_start").html(new_val[k]['tue_start']);
                                    $("#tue_close").html(new_val[k]['tue_close']);
                                    $("#wed_start").html(new_val[k]['wed_start']);
                                    $("#wed_close").html(new_val[k]['wed_close']);
                                    $("#thu_start").html(new_val[k]['thu_start']);
                                    $("#thu_close").html(new_val[k]['thu_close']);
                                    $("#fri_start").html(new_val[k]['fri_start']);
                                    $("#fri_close").html(new_val[k]['fri_close']);
                                    $("#sat_start").html(new_val[k]['sat_start']);
                                    $("#sat_close").html(new_val[k]['sat_close']);

                                    //alert(new_val[k]['mon_start'])     
                                }

                            });

                          }
  
                });
    
                    $.ajax({
                        url: "get-reviews/"+center_id,
                        type:"get",
                        dataType:"json",
                        //data: {},
                        success: function(reviews){
                           if(reviews.success != false) {
                            $("#reviews").html('');
                            var reviewsLength = reviews.service_center_reviews.length;
                             $.each([reviews.service_center_reviews], function( index, value ){
                                 for(var i=0; i< reviewsLength; i++){ 
                                    var image;
                                    if(reviews.service_center_reviews[i]['ratings'] == 1){
                                        image = "1.png";
                                    }else if(reviews.service_center_reviews[i]['ratings'] == 2){
                                        image = "2.png";
                                    }else if (reviews.service_center_reviews[i]['ratings'] == 3){
                                        image = "3.png";
                                    }else if (reviews.service_center_reviews[i]['ratings'] == 4){
                                        image = "4.png";
                                    }else if (reviews.service_center_reviews[i]['ratings'] == 5){
                                        image = "5.png";
                                    }else {
                                        image = "zero.png";
                                    }
                                    //alert(reviews.service_center_reviews[i]['ratings']);
                                    var reviewsData = "<div class=reviews-cntnt><label> "+reviews.service_center_reviews[i]['date']+"</label><a href=javascript:void(0); class=pull-right> <image src='/assets/"+image+"'></a><i>"+reviews.service_center_reviews[i]['username']+"</i><p> "+reviews.service_center_reviews[i]['comments']+"</p></div>";
                                    
                                    $("#reviews").append(reviewsData);
                                 }
                            }); 
                            }else{
                                $("#reviews").append("<div class=reviews-cntnt><p>Serice center currently has no reviews</p></div>");
                            }
                        },error: function(xhr,txt){
                            console.log("Error code is ",xhr.status);            
                        }
                    });

              },error:function(xhr,txt){
                console.log("Error code is ",xhr.status);
              }
            });
            
        }
    }
</script>
 <div class="container main-padding">

		<div class="serch-fld">
        	<label>Service Centers </label>
        </div>	
		
        <div>
        <ol class="breadcrumb">
      		<li class="active">>> <a href="/"> Home </a></li>
            <li class="active">>> <a href="/service_center?id=<%= params[:id]%>"> Service Center Detail </a></li>
<!--             <li class="active">>> Selectcomm</li> -->
    	</ol>
    <div class="no-padding">
    	<div class="col-sm-4 right-border srvc-mn-hyt">
        	<div class="top-search">
                <label>SEARCH</label>
                <input class="input-dtl-srch" type="text">
                <input class="search-submit d-search" value="" type="submit" />
            </div>
            <div class="table-responsive">
            	<table class="table-striped table-bordered table-condensed srvc-tb-cntr" width="100%">
            	<thead>
                    <tr>
                        <th><h4>NAME</h4></th>
                        <th><h4>CITY/STATE</h4></th>
                        <th><h4>CONTACT #</h4></th>
                    </tr>
                </thead>
                <tbody>
                       <% if @service_centers.length != 0 %>
                            <% @service_centers.each do |service_center| %>
                             <% if(params[:id].to_i == service_center.id.to_i) %>
                                <tr class="service-active-row data-row" id="<%= service_center.id %>">
                             <% else %>
                                <tr id="<%= service_center.id %>" class="data-row">
                             <% end %>
                                <td><a class="table-link" id="<%= service_center.id %>" onclick="getCenter(this.id)" href="javascript:void(0)"><%= service_center.Name %></td>
                                <td><%= service_center.City %>/<%= service_center.State %></td>
                                <td><%= service_center.Tel %></td>
                            </tr>
                            <% end %>
                       <% end %>  
                 </tbody>
            </table>
            </div>
        </div>
        <div class="col-sm-4 padding-2 srvc-mn-hyt">
        	<ul class="list-group">
               <li class="list-ctnt">
                    <h4>INFO</h4>
               </li>
            </ul>
            <div class="contct-info">
            	<h4 id="name">SelectComm, Inc.</h4>
                <p id="street">14476 Duval Place West</p><p id="city">Suit 109</p><p id="state">Jacksonville, </p><p id="StateCode">FL 3226</p>
                <p style="margin-bottom:0px;" > Tel. <i id="tel">904-999-999</i></p>
                <p > Fax  <i id="fax">904-999-999</i></p>
                <i id="email"> info@selectcommusa.com</i>
                <i id="url"> www.selectcommusa.com</i><br>
                <i> Contact: </i><i id="ContactPerson">Hugh Grant </i><br>
                <em>Trailer Accessible? Yes</em>
                <em>No appointment needed for service.</em>
                <em>Please call to schedule installation.</em>
            </div>
            <ul class="list-group">
               <li class="list-ctnt">
                    <h4>Hours</h4>
               </li>
            </ul>
            <div class="hourly-rt">
            	<h4> Monday </h4>
                <p id="mon_start">8:00 </p> /<p id="mon_close"> 5:00  </p>
                <h4> Tuesday </h4>
                <p id="tue_start">8:00 </p> /<p id="tue_close"> 5:00  </p>
                <h4> Wednesday </h4>
                <p id="wed_start">8:00 </p> /<p id="wed_close"> 5:00  </p>
                <h4> Thursday </h4>
                <p id="thu_start">8:00 </p> /<p id="thu_close"> 5:00  </p>
                <h4> Friday </h4>
                <p id="fri_start">8:00 </p> /<p id="fri_close"> 5:00  </p>
                <h4> Saturday </h4>
                <p>Closed </p>
               <!--  <p id="sat_start1">8:00 </p> /<p id="sat_close1"> 5:00  </p> -->
                <h4> Sunday </h4>
                <p>Closed </p>
            </div>
             
        </div>
        <div class="col-sm-4 padding-2 border-left srvc-mn-hyt">
        	<span class="fk-bg">
            </span>
            <ul class="list-group">
               <li class="list-ctnt">
                    <h4>Reviews</h4>
                    <a> Add Reviews</a>
               </li>
            </ul>
            <div id="reviews">
            <!-- <div class="reviews-cntnt">
            	<label> 03/14/2014</label>
                <a href="javascript:void(0);" class="pull-right"> <img src="img/rating-review.png"></a>
                <i>Wermer Driver</i>
                <p> I had one of the best experience at a service center when visiting SelectComm. They really went over the top to ensure i was back on the road in no time.</p>
            </div>
            <div class="reviews-cntnt">
            	<label> 03/14/2014</label>
                <a href="javascript:void(0);" class="pull-right"> <img src="img/rating-review.png"></a>
                <i>Wermer Driver</i>
                <p> I had one of the best experience at a service center when visiting SelectComm. They really went over the top to ensure i was back on the road in no time.</p>
            </div>
            <div class="reviews-cntnt">
            	<label> 03/14/2014</label>
                <a href="javascript:void(0);" class="pull-right"> <img src="img/rating-review.png"></a>
                <i>Wermer Driver</i>
                <p> I had one of the best experience at a service center when visiting SelectComm. They really went over the top to ensure i was back on the road in no time.</p>
            </div> -->
            </div>
            
             
        </div>
    </div>
        
      <!-- Main component for a primary marketing message or call to action -->
      

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "jquery.tablesorter.js" %>
<%#= javascript_include_tag "jquery.tablesorter.pager.js" %>
  <script type="text/javascript">
  var noconflict = $.noConflict();
  noconflict(function() {
    noconflict("table")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      //.tablesorterPager({container: noconflict("#pager")});
  });
  </script>
  </body>
</html>
