<%= javascript_include_tag "jquery.validate.min.js" %>
 <script type="text/javascript">
  jQuery(document).ready(function() {
    $(".new_user").validate({
      errorElement: "label",
    rules: {
       "user[password]": {required:true,minlength: 8},
        "user[password_confirmation]":{
	       equalTo:'#user_password'
	       }
      }});
  }); 
</script>
<div class="container">
	<div class="login-form-c">
		<div class="login-form"> 
			<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group"><%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>

  <div class="form-group"><%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Change my password", :class => "btn btn-default login-btn" %></div>
<% end %>

<%#= render "devise/shared/links" %>
		</div>
	</div>
</div>
