<%= javascript_include_tag "jquery.validate.min.js" %>
 <script type="text/javascript">
  jQuery(document).ready(function() {
    $(".new_user").validate({
      errorElement: "label",
    rules: {
       "user[email]": {required:true,email:true}
      }});
  }); 
</script>
<div class="container">
<div class="login-form-c">
<div class="login-form"> 

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  <p class="eml-inst">Send me reset password instructions</p>
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Submit", :class => "btn btn-default login-btn max-btn-sz" %></div>
<% end %>
<div class="frgt-links align-center">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
 