<%= javascript_include_tag "jquery.timepicker.js" %>
<%= javascript_include_tag "jquery.validate.min.js" %>
<script type="text/javascript">
  $(document).ready(function (){
      $('.time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
    });
/*    $(".satday").click(function () { //alert("working");
      if($(this).val()==1){ //alert($(this).val());
        $(".sat_working").hide();
      }else{ //alert($(this).val());
        $(".sat_working").show();
      }
    });*/
    $("#submit").click(function() {
      if($("#timings_hidden").val()=="" || $("#timings_hidden").val()==null){
        alert("Please click on add timmings to add center timings");
        return false;
      }
    });
/*      $(".sunday").click(function () { //alert("working");
        if($(this).val()==1){ //alert($(this).val());
          $(".sunday_working").hide();
        }else{ //alert($(this).val());
          $(".sunday_working").show();
        }
      });*/
  $(".new_admin_service_center").validate({
    errorElement: "label",
  rules: {
     "admin_service_center[State]": {required:true},
     "admin_service_center[City]": {required:true},
     "admin_service_center[Name]": {required:true},
     "admin_service_center[StateCode]": {required:true},
     "admin_service_center[StreetAddress]": {required:true},
     "admin_service_center[Tel]": {required:true,number:true},
     "admin_service_center[Fax]": {required:true,number:true},
     "admin_service_center[Pin]": {required:true,number:true},
     "admin_service_center[Email]": {required:true,email:true},
     "admin_service_center[Url]": {required:true,url:true},
     "admin_service_center[ContactPerson]": {required:true},
     "admin_service_center[lat]": {required:true,number:true},
     "admin_service_center[lan]": {required:true,number:true},
     "mon_hours_start": {required:true},
     "mon_hours_close": {required:true},
     "tue_hours_start": {required:true},
     "tue_hours_close": {required:true},
     "wed_hours_start": {required:true},
     "wed_hours_close": {required:true},
     "thu_hours_start": {required:true},
     "thu_hours_close": {required:true},
     "fri_hours_start": {required:true},
     "fri_hours_close": {required:true},
     "WorkingHours":{required:true}

    }});

  });

  function addTimings(){
    //alert($("#mon_start").val());
    if($("#mon_start").val() !='' && $("#mon_close").val() !='' && $("#tue_start").val() !='' && $("#tue_close").val() !='' && $("#wed_start").val() !='' && $("#wed_close").val() !='' && $("#thu_start").val() !='' && $("#thu_close").val() !='' && $("#fri_start").val() !='' && $("#fri_close").val() !=''){
          //alert("ok working");
          /*if($('input[name=sat_holiday]:checked').val()==0 && $("#sat_start").val() !='' && $("#sat_close").val() !='') {*/
            var timings = new Array ();
            timings.push({"mon_start":$("#mon_start").val()});
            timings.push({"mon_close":$("#mon_close").val()});
            timings.push({"tue_start":$("#tue_start").val()});
            timings.push({"tue_close":$("#tue_close").val()});
            timings.push({"wed_start":$("#wed_start").val()});
            timings.push({"wed_close":$("#wed_close").val()});
            timings.push({"thu_start":$("#thu_start").val()});
            timings.push({"thu_close":$("#thu_close").val()});
            timings.push({"fri_start":$("#fri_start").val()});
            timings.push({"fri_close":$("#fri_close").val()});
            timings.push({"sat_start":$("#sat_start").val()});
            timings.push({"sat_close":$("#sat_close").val()});
          //console.log(timings);
           $("#timings_hidden").val(JSON.stringify(timings));
        /*}else if ($('input[name=sat_holiday]:checked').val()==1){
            var timings = new Array ();
            timings.push({"mon_start":$("#mon_start").val()});
            timings.push({"mon_close":$("#mon_close").val()});
            timings.push({"tue_start":$("#tue_start").val()});
            timings.push({"tue_close":$("#tue_close").val()});
            timings.push({"wed_start":$("#wed_start").val()});
            timings.push({"wed_close":$("#wed_close").val()});
            timings.push({"thu_start":$("#thu_start").val()});
            timings.push({"thu_close":$("#thu_close").val()});
            timings.push({"fri_start":$("#fri_start").val()});
            timings.push({"fri_close":$("#fri_close").val()});
            timings.push({"sat_start":"off"});
            timings.push({"sat_close":"off"});
          //console.log(timings);
           $("#timings_hidden").val(JSON.stringify(timings));
        }else {
            alert("Please select the service center timings");    
        }*/
    } else {
      alert("Please select the service center timings");
    }
  }
</script>
    <div class="container">
    <div class="serch-fld">
          <label class="margin-top">Add/Update Service Center </label>
           <span class="align-right">
              <!-- <input class="form-control" type="search">
                <input value="" class="search-submit" type="submit" /> -->
            </span>
           
        </div>  
<div class="srvc-cntr-fld">	
<div class="srvc-frm">		
<%= form_for(@admin_service_center) do |f| %>
  <% if @admin_service_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_service_center.errors.count, "error") %> prohibited this admin_service_center from being saved:</h2>

      <ul>
      <% @admin_service_center.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :State %><br>
    <%= f.text_field :State %>
  </div>
  <div class="field">
    <%= f.label :StreetAddress %><br>
    <%= f.text_field :StreetAddress %>
  </div>
    <div class="field">
    <%= f.label :StateCode %><br>
    <%= f.text_field :StateCode %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :Pin %><br>
    <%= f.text_field :Pin %>
  </div>
  <div class="field">
    <%= f.label :Tel %><br>
    <%= f.text_field :Tel %>
  </div>
  <div class="field">
    <%= f.label :Fax %><br>
    <%= f.text_field :Fax %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Url %><br>
    <%= f.text_field :Url %>
  </div>
  <div class="field">
    <%= f.label :ContactPerson %><br>
    <%= f.text_field :ContactPerson %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lan %><br>
    <%= f.text_field :lan %>
  </div>
  <div class="cntr-frm-fl">
  	<p class="wrkng-hr-dtl">Working Hours Details :  </p>
    <div class="field">
    <label>Working Hours Mon</label><br>
    <input type="text" id="mon_start" class="time" name="mon_hours_start" placeholder="start time">
    <input type="text" id="mon_close" class="time" name="mon_hours_close" placeholder="close time">
  </div>
  <div class="field">
    <label>Working Hours Tue</label><br>
    <input type="text" id="tue_start" class="time" name="tue_hours_start" placeholder="start time">
    <input type="text" id="tue_close" class="time" name="tue_hours_close" placeholder="close time">
  </div>
  <div class="field">
    <label>Working Hours Wed</label><br>
    <input type="text" id="wed_start" class="time" name="wed_hours_start" placeholder="start time">
    <input type="text" id="wed_close" class="time" name="wed_hours_close" placeholder="close time">
  </div>
  <div class="field">
    <label>Working Hours Thu</label><br>
    <input type="text" id="thu_start" class="time" name="thu_hours_start" placeholder="start time">
    <input type="text" id="thu_close" class="time" name="thu_hours_close" placeholder="close time">
  </div>
  <div class="field">
    <label>Working Hours Fri</label><br>
    <input type="text" id="fri_start" class="time" name="fri_hours_start" placeholder="start time">
    <input type="text" id="fri_close" class="time" name="fri_hours_close" placeholder="close time">
  </div>
  <input type="hidden" value="" name="admin_service_center[WorkingHours]" id="timings_hidden">
  <!-- <div class="field">
    <label>Working Hours Sat</label><br>
		<div class="srvc-sntr-ch">
		  <input type="radio" class="satday" name="sat_holiday" value="1">Yes
		  </div>
		  <div class="srvc-sntr-ch">
		  <input type="radio" class="satday" name="sat_holiday" value="0">NO
	  </div>
    <label>Saterday Holiday</label><br>
      <input type="radio" class="satday" name="sat_holiday" value="1">Yes
      <input type="radio" class="satday" name="sat_holiday" value="0">NO
        <div class="sat_working" style="display:none">
          <div class="field">
          <label>Working Hours Sat</label><br>
            <input type="text" id="sat_start" class="time" name="sat_hours_start" placeholder="start time">
            <input type="text" id="sat_close" class="time" name="sat_hours_close" placeholder="close time">
          </div>
        </div> -->

  </div>
  <!-- <div class="field">
    <label>Working Hours Sun</label><br>
	<div class="srvc-sntr-ch">
      <input type="radio" class="sunday" name="sun_holiday" value="1">Yes
	  </div>
	  <div class="srvc-sntr-ch">
      <input type="radio" class="sunday" name="sun_holiday" value="0">NO
	  </div>
        <div class="sunday_working" style="display:none">
          <div class="field">
            <input type="text" class="time" name="sun_hours_start" placeholder="start time">
            <input type="text" class="time" name="sun_hours_close" placeholder="close time">
          </div>
        </div> -->
  <div class="actions">
    <a href="javascript:void(0)" onclick="addTimings()">Add Timings</a>
  </div>
  </div>
  
  
  <div class="actions">

    <%= f.submit :class => "edit-btn-comp", :id => "submit"%>
	<%= link_to 'Back', admin_service_centers_path, :class => "back-btn-comp" %>
  </div>
        </div>
  </div>
</div>


<% end %>

</div>
</div>
</div>