<%= form_for(@admin_service_center) do |f| %>
  <% if @admin_service_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_service_center.errors.count, "error") %> prohibited this admin_service_center from being saved:</h2>

      <ul>
      <% @admin_service_center.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :State %><br>
    <%= f.text_field :State %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :Pin %><br>
    <%= f.text_field :Pin %>
  </div>
  <div class="field">
    <%= f.label :Tel %><br>
    <%= f.text_field :Tel %>
  </div>
  <div class="field">
    <%= f.label :Fax %><br>
    <%= f.text_field :Fax %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Url %><br>
    <%= f.text_field :Url %>
  </div>
  <div class="field">
    <%= f.label :ContactPerson %><br>
    <%= f.text_field :ContactPerson %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
