<%= javascript_include_tag "jquery.timepicker.js" %>
<script type="text/javascript">
  $(document).ready(function (){
      $('.time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
    });
      $(".sunday").click(function () { //alert("working");
        if($(this).val()==1){ //alert($(this).val());
          $(".sunday_working").hide();
        }else{ //alert($(this).val());
          $(".sunday_working").show();
        }
      });
         $(".satday").click(function () { //alert("working");
          if($(this).val()==1){ //alert($(this).val());
            $(".sat_working").hide();
          }else{ //alert($(this).val());
            $(".sat_working").show();
          }
        });

  });
  function addTimings(){
    //alert($("#mon_start").val());
    if($("#mon_start").val() !='' && $("#mon_close").val() !='' && $("#tue_start").val() !='' && $("#tue_close").val() !='' && $("#wed_start").val() !='' && $("#wed_close").val() !='' && $("#thu_start").val() !='' && $("#thu_close").val() !='' && $("#fri_start").val() !='' && $("#fri_close").val() !=''){
      alert("ok working");
    } else {
      alert("Please select the service center timings");
    }
  }
</script>
    <div class="container">
    <div class="serch-fld">
          <label class="margin-top">Add/Update Service Center </label>
           <span class="align-right">
              <!-- <input class="form-control" type="search">
                <input value="" class="search-submit" type="submit" /> -->
            </span>
           
        </div>  
<div class="srvc-cntr-fld">	
<div class="srvc-frm">		
<%= form_for(@admin_service_center) do |f| %>
  <% if @admin_service_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_service_center.errors.count, "error") %> prohibited this admin_service_center from being saved:</h2>

      <ul>
      <% @admin_service_center.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :State %><br>
    <%= f.text_field :State %>
  </div>
  <div class="field">
    <%= f.label :StreetAddress %><br>
    <%= f.text_field :StreetAddress %>
  </div>
    <div class="field">
    <%= f.label :StateCode %><br>
    <%= f.text_field :StateCode %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :Pin %><br>
    <%= f.text_field :Pin %>
  </div>
  <div class="field">
    <%= f.label :Tel %><br>
    <%= f.text_field :Tel %>
  </div>
  <div class="field">
    <%= f.label :Fax %><br>
    <%= f.text_field :Fax %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Url %><br>
    <%= f.text_field :Url %>
  </div>
  <div class="field">
    <%= f.label :ContactPerson %><br>
    <%= f.text_field :ContactPerson %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lan %><br>
    <%= f.text_field :lan %>
  </div>
    <div class="field">
    <label>Working Hours Mon</label><br>
    <input type="text" id="mon_start" class="time" name="mon_hours_start" placeholder="start time">
    <input type="text" id="mon_close" class="time" name="mon_hours_close" placeholder="close time">
  </div>
  <div class="field">
    <label>Working Hours Tue</label><br>
    <input type="text" id="tue_start" class="time" name="tue_hours_start" placeholder="start time">
    <input type="text" id="tue_close" class="time" name="tue_hours_close" placeholder="close time">
  </div>
  <div class="field">
    <label>Working Hours Wed</label><br>
    <input type="text" id="wed_start" class="time" name="wed_hours_start" placeholder="start time">
    <input type="text" id="wed_close" class="time" name="wed_hours_close" placeholder="close time">
  </div>
  <div class="field">
    <label>Working Hours Thu</label><br>
    <input type="text" id="thu_start" class="time" name="thu_hours_start" placeholder="start time">
    <input type="text" id="thu_close" class="time" name="thu_hours_close" placeholder="close time">
  </div>
  <div class="field">
    <label>Working Hours Fri</label><br>
    <input type="text" id="fri_start" class="time" name="fri_hours_start" placeholder="start time">
    <input type="text" id="fri_close" class="time" name="fri_hours_close" placeholder="close time">
  </div>
  <div class="field">
    <label>Working Hours Sat</label><br>
      <input type="radio" class="satday" name="sat_holiday" value="1">Yes
      <input type="radio" class="satday" name="sat_holiday" value="0">NO
        <div class="sat_working" style="display:none">
          <div class="field">
            <input type="text" class="time" name="sat_hours_start" placeholder="start time">
            <input type="text" class="time" name="sat_hours_close" placeholder="close time">
          </div>
        </div>

  </div>
  <div class="field">
    <label>Working Hours Sun</label><br>
      <input type="radio" class="sunday" name="sun_holiday" value="1">Yes
      <input type="radio" class="sunday" name="sun_holiday" value="0">NO
        <div class="sunday_working" style="display:none">
          <div class="field">
            <input type="text" class="time" name="sun_hours_start" placeholder="start time">
            <input type="text" class="time" name="sun_hours_close" placeholder="close time">
          </div>
        </div>
  </div>

  <div class="actions">
    <a href="javascript:void(0)" onclick="addTimings()">Add Timings</a>
  </div>
  <div class="actions">

    <%= f.submit :class => "edit-btn-comp" %>
	<%= link_to 'Back', admin_service_centers_path, :class => "back-btn-comp" %>
  </div>
<% end %>

</div>
</div>
</div>