   <script type="text/javascript">
 

    $(document).ready(function(){

      $('#table').tablesorter();

    $('input[name="search"]').keyup(function(){

      var searchterm = $(this).val();

      if(searchterm.length > 3) {

       var match = $('tr.data-row:contains("' + searchterm +'")');

       var nomatch = $('tr.data-row:not(:contains("' + searchterm + '"))');

       match.addClass('selected');

       nomatch.css("display", "none");

      } else {

       $("tr.data-row").css("display", "");

       $("tr.data-row").removeClass("selected");

      }

    });

    });

</script>
    <div class="container">

    <div class="serch-fld">
          <label class="margin-top">Service Centers </label>
           <span class="align-right">
               <input class="form-control" type="text" name="search">
			   <input type="submit" class="search-submit" value="">
            </span>
           
        </div>  
<div class="table-responsive">
   <table class="table-striped table-bordered table-condensed" width="100%"> 
    <thead>
    <tr class="data-header">
      <th>Name</th>
      <th>Address</th>
      <th>City/State</th>
      <th>Pin</th>
      <!-- <th>Tel</th> -->
      <!-- <th>Fax</th> -->
      <th>Email</th>
      <th>Url</th>
      <th>Contactperson</th>
      <!-- <th>Location</th> -->
      <th>Actions</th>
      <!-- <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @admin_service_centers.each do |admin_service_center| %>
      <tr class="data-row">
        <td><%= admin_service_center.Name %></td>
        <td><%= admin_service_center.StreetAddress %></td>
        <td><%= admin_service_center.City %>/<%= admin_service_center.State %></td>
        <td><%= admin_service_center.Pin %></td>
        <!-- <td><%= admin_service_center.Tel %></td> -->
        <!-- <td><%= admin_service_center.Fax %></td> -->
        <td><%= admin_service_center.Email %></td>
        <td><%= admin_service_center.Url %></td>
        <td><%= admin_service_center.ContactPerson %></td>
        <!-- <td><%= admin_service_center.lat %>/<%= admin_service_center.lan %></td> -->
        <!-- <td><%= link_to 'Show', admin_service_center %></td> -->
        <td class="th-align-center"><%= link_to '', edit_admin_service_center_path(admin_service_center), :class => "edit-icon" %>
        <%= link_to '', admin_service_center, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-icon" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="new-com">
<%= link_to 'New Service center', new_admin_service_center_path %>
</div>
</div>