<div class="container">
<div class="serch-fld">
    <label class="margin-top">Listing messages</label>
</div>
<div class="trc-dsc-frm">

<p style="width:100%; float:left;" id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_service_center.Name %>
</p>

<p>
  <strong>State:</strong>
  <%= @admin_service_center.State %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_service_center.City %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @admin_service_center.Pin %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @admin_service_center.Tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @admin_service_center.Fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_service_center.Email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @admin_service_center.Url %>
</p>

<p>
  <strong>Contactperson:</strong>
  <%= @admin_service_center.ContactPerson %>
</p>
<div class="lnk-t-edit">
<%= link_to 'Edit', edit_admin_service_center_path(@admin_service_center), :class =>"edit-trc-frm" %> 
<%= link_to 'Back', admin_service_centers_path, :class =>"bck-trc-frm" %>
</div>
</div>
</div>