<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_service_center.Name %>
</p>

<p>
  <strong>State:</strong>
  <%= @admin_service_center.State %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_service_center.City %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @admin_service_center.Pin %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @admin_service_center.Tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @admin_service_center.Fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_service_center.Email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @admin_service_center.Url %>
</p>

<p>
  <strong>Contactperson:</strong>
  <%= @admin_service_center.ContactPerson %>
</p>

<%= link_to 'Edit', edit_admin_service_center_path(@admin_service_center) %> |
<%= link_to 'Back', admin_service_centers_path %>
