<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.validate.min.js" %>
 <script type="text/javascript">
  jQuery(document).ready(function() {
    $(".settings").validate({
      errorElement: "label",
    rules: {
       "email": {required:true,email:true},
       "FirstName":"required",
       "LastName":"required",
       "Contact":{required:true,number:true}
      }});
  }); 
</script>
    <div class="container">
    <div class="serch-fld">
          <label class="margin-top">Update Account</label>
           <!-- <span class="align-right">
              <input class="form-control" type="search">
                <input value="" class="search-submit" type="submit" />
            </span>-->
           
        </div>   
<!--     <ol class="breadcrumb">
      <li class="active">>> <a href="/admin">Dashboard</a> >></li><li> <a href="/admin/service_centers"> Service Centers </a> >> </li><li> Add/Update</li>
    </ol>  -->
<div class="srvc-cntr-fld"> 
<div class="srvc-frm">    
<% @users.each do |user| %>

  <%#=debug user %>
<<<<<<< HEAD
    <form method="POST" action="/updateProfile">
	<div class="form-group">
		<label>Email</label>
		<input name="email" type="email" readonly="readonly" value="<%= user.email %>"><br>
	</div>
	  <div class="form-group">
=======
    <form method="POST" class="settings" action="/updateProfile">
      <label>Email</label>
      <input name="email" type="email" readonly="readonly" value="<%= user.email %>"><br>
>>>>>>> 50f9430c2ed69ea98a2a5000f299d85bb2651a36
      <label>First Name</label>
      <input name="FirstName" type="text" value="<%= user.FirstName %>"><br>
	  </div>
	  <div class="form-group">
	  <label>Last Name</label>
      <input name="LastName" name="text" value="<%= user.LastName %>"><br>
<<<<<<< HEAD
	  </div>
	  <div class="form-group">
=======
      <label>Contact #</label>
      <input type="text" name="Contact" value="<%= user.Contact%>" ><br>
>>>>>>> 50f9430c2ed69ea98a2a5000f299d85bb2651a36
      <label>Password</label>
      <input type="password" name="password" ><br>
	  </div>
	  <div class="form-group">
      <label>Update my password</label>
      <input name="check" type="checkbox" value="1"><br>
	  </div>
      <input type="submit" name="commit" value="Update">
    </form>
  
<% end %>


</div>
</div>
</div>
<!-- <table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

 --><br>

<%#= link_to 'New Setting', new_setting_path %>
