<%= javascript_include_tag "jquery.validate.min.js" %>
 <script type="text/javascript">
  jQuery(document).ready(function() {
    $(".service_ticket").validate({
      errorElement: "label",
    rules: {
       "ticket_ref_no": {required:true,number:true,maxlength: 15},
       "ticket_po_no": {required:true,number:true,maxlength: 15}
      }});
  }); 
</script>
    <div class="container main-padding">

    <div class="serch-fld">
          <label>Service Alert </label>
        </div>  
    
        <div>
        <ol class="breadcrumb">
      
      <li class="active">>> Main</li>
    </ol>
      <% if flash[:notice] %>
        <p style="color:#fff"><%= flash[:notice]%></p>
      <% end %>
        <% if params[:id] != '' %>
          <% @alerts = ServiceAlert.where(:id => params[:id] ) %>
            <% if @alerts.length != 0 %>
              <% @alerts.each do |alert| %>
                <% @po_no = alert.ticket_po_no %>
                <% @ref_no = alert.ticket_ref_no %>
              <% end %>
            <% else %>
                <% @po_no = "" %>
                <% @ref_no = "" %>
            <% end %>
        <% end %>
          <form action="/update_ticket" method="POST" class="service_ticket">
            <label>Corporate PO#</label>
              <input type="text" name="ticket_po_no" value="<%= @po_no %>"><br>
            <label>Qualcomm REF #</label>
              <input type="text" name="ticket_ref_no" value="<%= @ref_no %>"><br>
              <input type="hidden" name="id" value="<%= params[:id] %>">
              <input type="submit" name="commit" value="Update">
          </form>
      </div>
      </div>