<script>
  function getModal(id) {       // get the the modals on selecting the make
    var make_id = id;
      if(make_id != '' && make_id != null) {
        $.ajax({
          url:"/admin/eobr_makes/getmodal?make="+make_id,
          dataType: "json",
          success: function (modal) {
            //console.log(modal);
            var modal_length = modal.length;
            var modal_id = "";
            var modal_name = "";
            var modal_list = "";
            $.each([modal], function(index, value){
              for(var i = 0; i < modal_length; i++) {
                //console.log(value);
                var modal_id = modal[i].id;
                var modal_name = modal[i].Name;
                  modal_list+='<option value="'+modal_id+'">'+modal_name+'</option>';
              }
              var modal_first = "<option>Select Modal</option>"
              $('#user_eobr_model_id').children().remove().end().append(modal_first+modal_list);
            });
          },error: function(xhr, text) {
            console.log("Error http code is "+xhr.status);
          }
        });
      }
  }
</script>
<div class="container">
    <div class="serch-fld">
          <label class="margin-top">Service Alert </label>
           <span class="align-right">
              <input class="form-control" type="search">
                <input value="" class="search-submit" type="submit" />
            </span>
           
        </div>  
<h2>Sign up</h2>
<div >
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this app_user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  <%= form_for(@user) do |f| %>
    <div>

    <label>First Name</label>
      <%= f.text_field :FirstName %> 
    </div>
    <div>
    <label>Last Name</label>
      <%= f.text_field :LastName %> 
    </div>

    <div>
    <label>Email</label>
      <%= f.text_field :email %> 
    </div>

    <div>
    <label>Password</label>
      <%= f.text_field :encrypted_password %> 
    </div>

      <div><%= f.label :eobr_make_id %>
       <%= select("user", "eobr_make_id", Admin::EobrMake.all.collect {|e| [ e.Name, e.id ] }, { include_blank: "Select Make", },:onchange => "getModal(this.value)",  :class => "slct" ) %>
      <%#= f.text_field :e_make %> 
    </div>
    <div><%= f.label :eobr_model_id %>
      <%= select("user", "eobr_model_id", Admin::EobrModel.all.collect {|e| [ e.Name, e.id ] }, { include_blank: "Select Model" }, :class => "slct" ) %>
    <div>
    <label>EORB No</label>
      <%= f.text_field :EobrNumber %> 
    </div>
    <div>
      <label>Truck Number</label>
      <%= f.text_field :TruckNumber %> 
    </div>
    <div>
      <label>Truck Make</label>
      <%= f.text_field :truckmake %> 
    </div>
    <div>
      <label>Truck Year</label>
      <%= f.text_field :TruckYear %> 
    </div>
    <div>
      <label>Owner Operator</label>
      <%= f.text_field :TruckOwner %> 
    </div>
    <div><%= f.label :CompanyName %>
      <%= select("user", "CompanyName", Admin::Company.all.collect {|c| [ c.CompanyName, c.id ] }, { include_blank: "Select Company" }, :class => "slct" ) %>
    <div>
    
    <div>
      <label>Language</label>
      <%= f.text_field :Language %> 
    </div>

    <%=  f.submit :value=>'Add/Update' ,:class=>'crt-btn'%> 

  <% end %>
  </div>
<% end %>



</div>
</div>
<% if(action_name == 'new') %>
<script type="text/javascript">
$(document).ready(function (){
  var modal_first = "<option>Select Modal</option>";
   $('#user_eobr_model_id').children().remove().end().append(modal_first);
   //console.log(modal_first);
});
</script>
<% end %>