    <div class="container">

    <div class="serch-fld">
          <label class="margin-top">Dashboard </label>
           <span class="align-right">
              <input class="form-control" type="search">
                <input value="" class="search-submit" type="submit" />
            </span>
           
        </div>  
        <div class="trac-link">
          
        	<%= link_to 'Companies', admin_companies_path %>
        	
        	<%= link_to 'Driver Assistence', admin_tech_supports_path %>
        	
        	<%= link_to 'Eobr Makes', admin_eobr_makes_path %>
        	
        	<%= link_to 'Eobr Models', admin_eobr_models_path %>
        	
        	<%= link_to 'Service Centers', admin_service_centers_path %>
        	
          <a href="/admin/manage_dispatch_user">Dispatch Users</a>
		</div>  
         