 <script type="text/javascript">
 

    $(document).ready(function(){

      $('#table').tablesorter();

    $('input[name="search"]').keyup(function(){

      var searchterm = $(this).val();

      if(searchterm.length > 3) {

       var match = $('tr.data-row:contains("' + searchterm +'")');

       var nomatch = $('tr.data-row:not(:contains("' + searchterm + '"))');

       match.addClass('selected');

       nomatch.css("display", "none");

      } else {

       $("tr.data-row").css("display", "");

       $("tr.data-row").removeClass("selected");

      }

    });

    });

</script>
    <div class="container">

    <div class="serch-fld">
          <label class="margin-top">Eobr Makes </label>
           <span class="align-right">
               
                <input class="form-control" type="text" name="search">
            </span>
           
        </div>  
<div class="table-responsive">
   <table class="table-striped table-bordered table-condensed" width="100%">
  <thead>
    <tr class="data-header">
      <th width="85%">Name</th>
      <th class="th-align-center">Actions</th>
<!--       <th></th>
      <th></th>
 -->    </tr>
  </thead>

  <tbody>
    <% @admin_eobr_makes.each do |admin_eobr_make| %>
      <tr class="data-row">
        <td><%= link_to (admin_eobr_make.Name), edit_admin_eobr_make_path(admin_eobr_make) %></td>
        <!-- <td><%= link_to 'Show', admin_eobr_make %></td>
        <td><%= link_to 'Edit', edit_admin_eobr_make_path(admin_eobr_make) %></td> -->
        <td class="th-align-center"><%= link_to 'Destroy', admin_eobr_make, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-icon" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<div class="new-com">
<%= link_to 'New Eobr make', new_admin_eobr_make_path %>
</div>
</div>