<!DOCTYPE html>
<html>
<head>
<title>Servicetrac</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../../assets/ico/favicon.ico">
<!-- Bootstrap core CSS -->
<%= stylesheet_link_tag "bootstrap.css" %>
<%= stylesheet_link_tag "custom.css" %>

<!-- Custom styles for this template -->

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
</head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag("logo.png" , :alt => 'Servicetrac Logo') %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><p>
        	
               	<% if user_signed_in? %>
                 <%=current_user.FirstName.to_s+' '+current_user.LastName.to_s%>
                  	 <% if user_signed_in? %>
                  	 <%= link_to('Logout',destroy_user_session_path, :method => :delete,:class=>'logout')%>
                  	 <%else%>
                  	  <%= link_to('Sign In',new_user_session_path,:class=>'logout')%>
                  	 <%end%>
                     
               <%end%>   
              </p></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if user_signed_in? %>
              <% if current_user.Role == "admin" %>
                      <a class="dashboard-icon" href="/admin"></a>
              <% end %>
              <% end %>
            </li>
            <li><a class="home" href="/"></a></li>
            <li><a class="message" href="/messages"></a></li>
            <li><a class="setting" href="javascript:void(0)"></a></li>
            <li><a class="edit" href="javascript:void(0)"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <% if flash[:notice] %>
			<div class=""><h4 align="center" class="flash"><%= flash[:notice]%></div>
	 <%end%>
<%= yield %>
  <div id="loader"></div>
</body>
</html>
